@import "../../styles/colors";

.button-component{
  &>span{
    color: $primary-5;
    font-weight: 600;
    font-size: 15px;
    line-height: 16px;
  }
  box-shadow: none;
  min-height: 46px;
  min-width: 136px;
  padding: 14px 12px;
  text-align: center;
  border-radius: 6px;
  background: $primary;
  border: 1px solid $primary;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &.loading{
    cursor: default;
    pointer-events: none;

    &:hover{
      background: inherit;
      border:  inherit;
    }
  }

  &:focus{
    outline: none;
  }

  .loading{
    filter: brightness(0) invert(1);
    position: absolute;
    width: 24px;
    height: 24px;
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

  @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

  &:hover{
    background: $primary-2;
    border: 1px solid $primary-2;
  }

  &.disabled{
    &>span{
      color: $dark;
    }
    border-color: $dark-5;
    background: $dark-5;
    cursor: default;
    pointer-events: none;

    .loading{
      filter: none;
    }

    .icon{
      opacity: 0.6;
    }
  }
}
