//Dark
$dark: #263238;
$dark-2: #37474F;
$dark-3: #455A64;
$dark-4: #546E7A;
$dark-5: #ECEFF1;

//Primary
$primary: #DD2C00;
$primary-2: #FF3D00;
$primary-3: #FF6E40;
$primary-4: #FF9E80;
$primary-5: #FBE9E7;

//Secondary
$secondary: #00BFA5;
$secondary-2: #1DE9B6;
$secondary-3: #64FFDA;
$secondary-4: #A7FFEB;
$secondary-5: #E0F2F1;

