$min: #D50000;
$avg: #FFD600;
$max: #00C853;


//Primary Dark
$dark: #00072B;
$dark-90: #1A2040;
$dark-80: #333955;
$dark-70: #4D516B;
$dark-60: #666A80;
$dark-50: #808395;
$dark-40: #999CAA;
$dark-30: #B3B5BF;
$dark-20: #CCCDD5;
$dark-10: #E6E6EA;
$dark-5: #F4F5F7;
$dark-2: #FAFAFB;


//Primary Purple
$purple: #6E55D9;
$purple-90: #775EE2;
$purple-85: #836BEA;
$purple-70: #9878F2;
$purple-50: #A78CF3;
$purple-40: #BBA8F0;
$purple-30: #CCBEF4;
$purple-20: #DDD3F8;
$purple-10: #E4DCF9;
$purple-5: #EEE9FB;