@import "../../styles/colors";
@import "../../styles/shadows";
@import "../../styles/transitions";

.datepicker-custom-component {
  * {
    outline-color: $primary;
  }

  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: start;

  input {
    cursor: pointer;
    width: 100%;
    padding: 6px;
    border-color: $dark-5;
    border-width: 2px;
    border-style: solid;
    box-shadow: none;
    border-radius: 6px;
    @include transition-1;

    &:hover{
      outline: none;
      border-color: $dark-4;
      @include transition-1;
    }

    &:focus{
      outline: none;
      border-color: $primary;
      @include box-shadow(3);
      @include transition-1;
    }
  }

  &>label{
    font-weight: 500;
    padding-bottom: 6px;
    font-size: 14px;
  }

  .react-datepicker__header {
    background-color: $dark-5;
  }

  .react-datepicker__day-names {
    display: flex;
    padding: 0;
    justify-content: space-between;
  }

  .react-datepicker__day-name {
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    color: $dark;
    text-transform: uppercase;
    width: 24px;
    height: 24px;
  }

  .react-datepicker__month {
    margin: 0
  }

  .react-datepicker__week {
    display: flex;
    justify-content: space-between;
  }

  .react-datepicker__day, .react-datepicker__month-text, .react-datepicker__quarter-text {
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .react-datepicker__day--keyboard-selected, .react-datepicker__month-text--keyboard-selected, .react-datepicker__quarter-text--keyboard-selected {
    background: $primary-2;
  }
  .react-datepicker__day--selected {
    background: $primary-2;

    &:hover {
      background: $primary-3 !important;
    }
  }
}
