@import "styles/colors";
@import "styles/transitions";
@import "styles/shadows";

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
}

* {
  font-family: 'Roboto', sans-serif;
  color: $dark;
  text-decoration: none;
}

h1{
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
}

h2{
  font-size: 28px;
  line-height: 36px;
  font-weight: 600;
}

h3{
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}

p{
  color: $dark;
  font-size: 16px;
  line-height: 20px;
}

input{
  font-size: 16px;
  line-height: 2px;
  font-weight: 500;
}

.regular{
  font-weight: 400;
}
.medium{
  font-weight: 500;
}
.semibold{
  font-weight: 600;
}
.bold{
  font-weight: 700;
}
